
/*caleb test*/
.header {
    height: 60px;
    background-color: rgb(183, 183, 183);
    
}
img {
    max-width: fit-content;
    max-height: fit-content;
}
.download {
    margin-left: auto;
    margin-right: 0;
}

table, th, td {
    padding: 1rem;
    border-collapse: separate;
}

body {
    background-color: white;
}

tbody {
    width: 95%;
    max-height: 89%;

    height: 350px;       
    overflow-y: auto;   
    overflow-x: hidden; 
    
}

table {
    position: sticky;
    top: 0;
    width: 100%;

}

.table-wrapper {
    margin: 10px 70px 70px;
    width: 85%;
    height: 500px;
    overflow: auto;
    margin: auto;
}

.f1-table {
    border-radius: 5px;
    white-space: nowrap;
    border-spacing: 0px 1rem;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}

.col1 {
    /* position: absolute; */
}

.f1-table th, .f1-table td {
    text-align: center;
    padding: 8px;
}

.f1-table th {
    color: grey;
    background-color: lightgray;
    border: 0px;
    margin: 0px;
}

.f1-table tr {
    background-color: white;
    box-shadow: 0px 0px 9px 0px grey;
    
}

.f1-table td {
   
    
}
 /* this is the filter, if parent has a position value, then the child is relative to that */
.form1 {
    position: relative;
}


.filter-item {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input-container {
    flex: 1;
    box-sizing: border-box;
}

.filter-item-spacer {
    margin-right: 900px;
}

.nav-container {
    list-style-type: none;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline;
}

.status {
    background-color: red;
    padding: .4rem 0;
    border-radius: 2rem;
}

.active {
    background-color: lightgreen;
}

.idle {
    background-color: rgb(229, 82, 82);
}

.maintenance {
    background-color: rgb(245, 225, 73);
}

.msg {
    text-align: center;
    margin-top: 20px;
    color: gray;
    display: inline-block;
    
}

.reset-img {
    width: 20px;
}

.reset-img:hover {
    filter: invert(50%) sepia(84%) saturate(2867%) hue-rotate(329deg) brightness(112%) contrast(110%);
    cursor: pointer;
}

.filter {
    margin-bottom: 10px;
}

.pagination {
    justify-content: center;
}

.summary a {
    background-color: greyF;
    padding: .4rem 0;
    border-radius: 2rem;
    display: inline;
    font-weight: bolder;
    font-size: 18px;
}

h3 {
    text-align: center;
}

