:root {
    --primary: #007bff;
    --primary-50p: #007bff85;
    --primary-75p: #007bff48;
    --secondary: #6c757d;
    --secondary-light: #bcc4ca;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
}