/*senna test*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.dropdown {
    display:flex;
    position: relative;
    z-index: 1;
    bottom:50px;
    margin-left: 50px;
    overflow-y: auto;  
    overflow-x: auto; 
    width: 25%;
    height: 25%;
    border-radius: 5px;
  }

  .dropdown-content {
    display: none;
    position: relative;
    width: 260px;
    font-size: 20px;
    overflow: auto;
    z-index: 1;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
  }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;

  }

.dropdown-content a {
    display: flex;
    color: #080808;
    padding: 5px;
    text-decoration: none;
  
  }

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    
  }

.drpbutton{
    font-size: 18px;
    margin-top: 5px;
    width: 260px;
    background-color:rgb(240, 239, 239);
    border-radius: 50px;
    font-weight: bold;
  }

.new{
  border-radius: 50px;
  border-color: #040404;
  display: flex;
  border-width: 2px;
  position: relative;
  align-self: baseline;
  font-size: 18px;
  top: 500px;
  cursor: pointer;
  font-weight: bold;
  width: 260px;
  align-items: center;
  justify-content: center;
}

#add_button{
  border-radius: 50px;
  border-color: #040404;
  display: flex;
  border-width: 2px;
  position: absolute;
  align-self: baseline;
  font-size: 18px;
  text-align: center;
  bottom: 145px;
  left: 540px;
  cursor: pointer;
  background-color:rgb(240, 239, 239);
  border-radius: 50px;
  font-weight: bold;
}

/* Theresa Styles*/
.machine_details th{
        background-color:#ddd;   /* style for the machine details table headers */
        font-size: 18px;
      }

.machine_details {
        width:100%; 
        border: 1px solid #ccc;       /* style for the machine details body */
        background-color: #f9f9f9; 
    }
    
.machines-table-container{
  display: flex;
  
}
#Machine_Id{
  text-align: center;
}


.machines-table-container {
  height: 390px;   
  overflow-y: auto;  
  overflow-x: hidden; 
  border: 1px solid #ddd; 
  top: 135px;                    /* style for the machine details table*/
  position: absolute;
  display: flex;
  bottom: 80px;
  right: 20px; 
  left: 35%;   
  width: 55%;
  border-radius: 10px;
  white-space: nowrap;
    
}


.actions_data{
  text-align: center;
  border-radius: 10px;
  
}

.details{
  padding-top: 10px;
  font-size: 1.25rem;
  display: flex;
  position: relative;
  bottom: 90px;
  left: 50px;
  border-color: #000000;                   /* style for the employees current jobs table*/
  border: 1px solid ;               
  border-radius: 3px;
  background-color:silver;
  box-shadow: 3px 3px 4px black;
  width:260px;
  text-align: left;
  cursor: pointer;
  
}
/* New CSS class to override existing styles */
.custom-table-style {
  width: 260px;
  border-collapse: collapse;
}

/* Styling for the table header */
.custom-table-style th {
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
}

/* Styling for table cells */
.custom-table-style td {
  padding: 8px;
  word-wrap: break-word;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #ddd;
}


.employees-table-container{
  margin-top: 130px;                        
  
}

#edit_button{
  border-radius: 50px;
  border-color: #040404;
  display: flex;
  border-width: 2px;
  position: absolute;
  align-self: baseline;
  font-size: 18px;                            /* style for the edit machine button*/
  text-align: center;
  bottom: 145px;
  left: 680px;
  cursor: pointer;
  background-color:rgb(240, 239, 239);
  border-radius: 50px;
  font-weight: bold;
}

.actions_button{ 
  cursor: pointer;
  background-image: url(../images/icons/delete-machine.png);
  height: 20px;
  width: 20px; 
  background-repeat: no-repeat;                                        /* style for the delete machine button*/
  background-position: center;
  background-size: contain;
  border: none;
  background-color: #f9f9f9;
}


.add-machine-container{
  display: flex;
  flex-direction: column;
  justify-content: center;                     /* style for the add machine container*/
  align-items: center;
  height: 80vh;
}

.add-machine-form{
  display: flex;
  flex-direction: column;
  padding: 10px;                                /* style for the add machine form*/
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#add-machine-save{
  cursor: pointer;                              /* style for the save button in add machine page*/
  
}

#add-machine-save :hover{
  background-color: #6c757d;
  
}

input, select{                                   
  width: 100%;                                   
}

label{
  font-weight: bold;
}

.update-machine-form{
    display: flex;
    flex-direction: column;
    padding: 10px;                              /* style for the update machine form*/
    gap: 10px;
    align-items: center;
    justify-content: center;
  
}

.update-machine-container{
  display: flex;
  flex-direction: column;                        /* style for the update machine container*/
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#add-machine-save :hover{
  background-color: #6c757d;
  
}

#update-machine-save{
  cursor: pointer;
}

#dashboard{
  font-size: 23px;
  font-weight: bold;
}