/*senna test*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.navbar {
  width: 100vw;
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--dark);

  > a,
  p {
      padding-left: 0.75rem;
  }

  .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.4rem;

      border-left: 1px solid var(--dark);
      min-width: 6rem;

      p {
          margin: 0.1rem 0;
          padding-left: 0;
      }

      img {
          width: 2.5rem;
      }
  }
}


.dropdown {
    display: inline-block;
    position: relative;
    display: flex;
    padding-top: 120px;
    z-index: 1;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    font-size: 20px;
    overflow: auto;
    z-index: -1;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;
  }

.dropdown-content a {
    display: block;
    color: #080808;
    padding: 5px;
    text-decoration: none;
  }

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

.button{
    font-size: 30px;
  }

.button2{
    border-radius: 50px;
    border-color: #000000;
    border-width: 0.5px;
    position: relative;
    left: 10px;
    display: flexbox;
    font-size: 20px;
    text-align: center;
  }

.button3{
    border-radius: 50px;
    border-color: #000000;
    border-width: 0.5px;
    position: absolute;
    display: flexbox;
    left: 360px;
    top: 139px;
    font-size: 20px;
    text-align: center;
  }
  
.button4{
    border-radius: 50px;
    border-color: #040404;
    top: 139px;
    border-width: 0.5px;
    position: absolute;
    left: 205px;
    font-size: 20px;
    text-align: center;
  }


.R1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width:220px;
  text-align: left;
  }

.M1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width: 220px;
  text-align: left;
  }

.D1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width: 220px;
  text-align: left;
  }

  
.save{
    border-radius: 50px;
    border-color: #040404;
    top: 20px;
    border-width: 0.5px;
    position: relative;
    left: 0px;
    font-size: 20px;
    text-align: center;
  }  

.publish{
      border-radius: 50px;
      border-color: #040404;
      top: 20px;
      right: 50px;
      border-width: 0.5px;
      position: relative;
      left: 30px;
      font-size: 20px;
      text-align: center;
    }

#time{
        border-radius: 50px;
        border-color: #000000;
        border-width: 0.5px;
        position: absolute;
        right: 865px;
        top: 125px;
        font-size: 20px;
        text-align: center;
        
      }

.role{
        border-radius: 50px;
        border-color: #000000;
        border-width: 0.5px;
        position: absolute;
        right: 800px;
        top: 125px;
        font-size: 20px;
        text-align: center;
      }


      
.row {
        display: block;
        position: absolute;
        flex-direction: column;
        width: 69%;
        margin-left: 400px;
        bottom: 300px;
      }

.column{
        margin-bottom: 10px;
      }


.machine_details th{
        background-color:#ddd;
      }

.machine_details {
        
        
        width:100%; 
        border: 1px solid #ccc; 
        background-color: #f9f9f9; 
    }
    
    
#Error-Code{
  text-align: center;
}



.machines-table-container {
  height: 260px; 
  width: 30px;   
  overflow-y: auto;  
  overflow-x: hidden; 
  border: 1px solid #ddd; 
  top: 183px;
  position: absolute;
  bottom: 80px;
  right: 20px; 
  left: 30%;   
  width: 45%;
  border-radius: 5px;
  white-space: nowrap;
    
}






      