/*senna test*/
.dropdown {
    display: inline-block;
    position: relative;
    padding-top: 120px;
    z-index: 1;
  }
  .button{
    font-size: 30px;
  }
  .button2{
    border-radius: 50px;
    border-color: #000000;
    border-width: 0.5px;
    position: relative;
    left: 10px;
    font-size: 20px;
    text-align: center;
  }
  .button3{
    border-radius: 50px;
    border-color: #000000;
    border-width: 0.5px;
    position: relative;
    left: 200px;
    font-size: 20px;
    text-align: center;
  }
  
  .button4{
    border-radius: 50px;
    border-color: #040404;

    border-width: 0.5px;
    position: relative;
    left: 205px;
    font-size: 20px;
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    font-size: 20px;
    overflow: auto;
    z-index: -1;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #ddd;
  }
  .dropdown-content a {
    display: block;
    color: #080808;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
  .R1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width:220px;
  text-align: left;
  }

  .M1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width: 220px;
  text-align: left;
  }

  .D1{
    padding-top: 10px;
    font-size: 25px;
    border-color: #000000;
  border: 1px solid ;
  border-radius: 3px;
  background-color: rgb(163, 168, 172);
  box-shadow: 3px 3px 4px black;
  width: 220px;
  text-align: left;
  }

  
  .save{
    border-radius: 50px;
    border-color: #040404;
    top: 20px;
    border-width: 0.5px;
    position: relative;
    left: 0px;
    font-size: 20px;
    text-align: center;
  }  
 .publish{
      border-radius: 50px;
      border-color: #040404;
      top: 20px;
      right: 50px;
      border-width: 0.5px;
      position: relative;
      left: 30px;
      font-size: 20px;
      text-align: center;
    }

    .time{
        border-radius: 50px;
        border-color: #000000;
        border-width: 0.5px;
        position: absolute;
        right: 865px;
        top: 139px;
        font-size: 20px;
        text-align: center;
      }

      .role{
        border-radius: 50px;
        border-color: #000000;
        border-width: 0.5px;
        position: absolute;
        right: 800px;
        top: 139px;
        font-size: 20px;
        text-align: center;
      }
      
      .row {
        display: block;
        position: absolute;
        flex-direction: column;
        width: 69%;
        margin-left: 400px;
        bottom: 300px;
      }

      .column{
        margin-bottom: 10px;
      }
      .p1{
        text-align:left;
        display:inline;
        margin: 300px;
      }
      .p11{
        text-align:left;
        display:inline;
        margin: 330px;
      }
      .p12{
        text-align:left;
        display:inline;
        margin: 250px;
      }
      .p{
        text-align: justify;
        display: inline;
        margin: 50px;
      }
      .h{
        text-align: justify;
        display: inline;
      }